{% extends 'base.html'%}
{% load staticfiles %}
{% block title%}Acerca de{% endblock%}



{% block content%}
    

<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>

<div id = 'text'>
	<h3><font size = '4'>Historia</font></h3>
		<img class = "imgcarros" align = "left" src="/media/images/index.jpeg" alt="" width = "400">
                
                <p align="justify"><font size = '2'>Automarket es un sitio web de anuncios clasificados con secciones dedicadas al empleo, vivienda, contactos personales, ventas, ítems, servicios, comunidad, conciertos, hojas de vida, y foros de discusión..
				<br>
				Fue fundada en 1995 por el Almirante para el área de la bahía de San Francisco. Después de su constitución en 1999, Automarket se amplió a nueve ciudades más en el 2000 (todas en los Estados Unidos), cuatro por año, en 2001 y 2002, y 14 en el 2003. Hasta junio de 2006, Automarket se había establecido en aproximadamente 310 ciudades en todo el mundo.
				A la fecha 2006, Automarket funciona con un personal de 28 personas. Su única fuente de ingresos es a través del cobro de avisos clasificados de empleo en ciertas ciudades ($75 por el anuncio para el área de la bahía de San Francisco; $25 por el anuncio para Nueva York; Los Ángeles; Boston; Seattle; Washington D.C., y listados de agencias inmobiliarias en Nueva York ($10 por anuncio)).
				<br>
				Recibe alrededor de 20 mil millones de visitas (páginas vistas) por mes, poniéndola en el 47º lugar entre las páginas web mundiales, tiene el 10º lugar entre las páginas web en los Estados Unidos (por Alexa.com el 23 de octubre de 2013), con 10 millones de visitantes únicos. Teniendo sobre 10 millones de anuncios clasificados nuevos cada mes, Automarket es el servicio número uno de avisos clasificados en cualquier medio de comunicación. El sitio recibe sobre 500.000 ofertas de empleo nuevas al mes, haciéndolo una de las mejores bolsas de empleo en línea en el mundo. 
                </font>
                </p>
			
    <br>
    <h4>Visión</h4>

    <p align="justify"><font size = '2'>La misión de Auto Market es buscar el entusiasmo del cliente a través de la venta de productos y servicios automotores de alta calidad, con la oportunidad de financiamiento y beneficios adicionales, por medio de la innovación y una mejora continua para lograr mayor eficiencia operativa, así como una actitud positiva a través de la integridad del equipo de trabajo.
    </font></p>
            
</div>
</body>
</html>
{% endblock%}
